- name: Deploy to cPanel
  uses: easingthemes/ssh-deploy@v2.1.5
  with:
    SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
    REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
    REMOTE_USER: ${{ secrets.REMOTE_USER }}
    REMOTE_PORT: 22
    TARGET: /home/USERNAME/public_html

